.invite{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 44px;

}

.description{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 44px;

}