

ul {
    list-style-type: none;

}

li{
   display: inline-block;
   padding: 15px 15px;
}


body{
    display: center;
    background: url("https://www.freepnglogos.com/uploads/pokemon-logo-transparent-png-2.png");
    background-repeat: no-repeat;
    background-position: top;
    background-color: blue
}

.links-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    margin-top: 350px;
  }

.welcome{
    text-align:center;
    margin-left: 44px;
    color: yellowgreen;
}

.description{
    color: yellowgreen
}