p {
    text-align: center;
    margin-left: 45px;
}

.pokemons-names{
    text-align: center;
}

.listedpoke-container{
    display: flex;
    min-width: 50px;
}

.mb-3{
    text-align: center;
}

.form-control{
    margin: auto;
    display: block;
}

.btn{
    margin: auto;
    display: block;
}

.pokemons-names{
    font-weight: bold;
    color: yellowgreen;
}

.names{
    font-weight: bold;
    color: yellowgreen;
}

.form-label{
    font-weight: bold;
    color: rgb(205, 50, 50);
}

body{
    background-color: rgba(13, 0, 162, 0.859)
}