{% extends 'base.html' %}

{% block content %}
<a> </a>
<p>Here are some examples of different Pokemon...</p>
<ul>
    {% for pokemon in pokemons %}
    <li>{{pokemon}}</li>
    {% endfor %}
</ul>
<form action="/submit_pokemon" method="POST">
    <div class="mb-3">
      <label for="pokemon_name" class="form-label">Pokemon Name:</label>
      <input type="pokemon_name" class="form-control" id="pokemon_name" name="pokemon_name">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% if pokemon_data %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Base Experience</th>
        <th scope="col">Sprite</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{pokemon_data.Pokemon}}</th>
        <td>{{pokemon_data.Base_experience}}</td>
        <td>{{pokemon_data.Sprite}}</td>
      </tr> 
    </tbody>
  </table>
{% endif %}
{% endblock %}