<nav>
    <div class="links-container">
      <ul class="nav-justify-content-center">
        {% if current_user.is_authenticated  %}
          <li class="nav-item">
            <a class="nav-link-home"  href="{{url_for('home')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-Pokemon" href="{{url_for('submit_pokemon')}}">Pokemon</a>
          </li>
          <li class="nav-item">
            <a class="nav-login" href="{{url_for('logout')}}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-login" href="{{url_for('login')}}">Login</a>
          </li>  
          <li class="nav-item">
            <a class="nav-login" href="{{url_for('register')}}">Register</a>
          </li> 
          {% endif %}
        </ul>
    </div>
  </nav> 