<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% block css %}

    {% endblock %}
    <title>Flask App - {% block title %}  {% endblock %}</title>
</head>
<body>
  <div class="pokemon-image">
    <img src="https://freepngimg.com/thumb/pokemon/35997-1-anime-pokemon-transparent-picture.png" alt="Pikachu"/>
  </div>
  {% include './includes/nav.html' %} 
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %} 
    {% for category, message in messages %} 
      <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
    {% endif %}
  {% endwith %}
  
  <div class="container">
    
    {% block content %}

    {% endblock %}

</div>
</body>

</html>