{% extends 'base.html' %}

{% block content %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/submit_pokemon.css') }}">
{% endblock %}

<a> </a>
<p class="names">Here are some examples of different Pokemon...</p>
<ul class="pokemons-names">
    {% for pokemon in pokemons %}
    <li>{{pokemon}}</li>
    {% endfor %}
</ul>
<form action="/submit_pokemon" method="POST" class="list">
    <div class="mb-3">
      <label for="pokemon_name" class="form-label">Pokemon Name:</label>
      <input type="pokemon_name" class="form-control" id="pokemon_name" name="pokemon_name" style="max-width:50%">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
    <div style="color: red;">
        <small>{{error}}</small>
    </div>
  </form>

{% if pokemon_data %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Base Experience</th>
        <th scope="col">Attack Base Stat</th>
        <th scope="col">Defense Base Stat</th>
        <th scope="col">Sprite</th>
      </tr>
    </thead>
    <tbody>
    <div class="listedpoke-container">
      <tr>
        <th scope="row">{{pokemon_data.pokemon_name.title()}}</th>
        <td>{{pokemon_data.base_experience}}</td>
        <td>{{pokemon_data.attack_base_stat}}</td>
        <td>{{pokemon_data.defense_base_stat}}</td>
        <td><img src="{{pokemon_data.front_shiny}}" alt="pokemon image"></td>
        <!-- <td>{{pokemon_data.front_shiny}}</td> -->
      </tr>
    </div> 
    </tbody>
  </table>
  <a href="{{url_for('pokemons.catch', pokemon_name=pokemon_data.pokemon_name)}}"type="submit" class="btn btn-primary" style="width: 30%">! Catch !
  </a>
  {% endif %}
{% endblock %}